@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
   @apply p-0 m-0 box-border;
}

body {
   @apply font-chillax md:text-base text-[15px] text-white font-light bg-gray-950;
}

html {
   @apply scroll-smooth;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

@layer components {
   a {
      @apply no-underline;
   }

   a:hover {
      @apply underline underline-offset-2;
   }

   input,
   select,
   textarea,
   button {
      @apply focus:outline-0 bg-transparent;
   }

   .text-linear {
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
   }

   [role="button"],
   button {
      @apply select-none;
   }
}

/* 
 Mobile Responsiveness
*/

@media screen and (max-width: 1512px) {
   .text-9xl {
      @apply text-[70px];
   }
   .text-10xl {
      @apply text-[87px];
   }
}
@media screen and (max-width: 1280px) {
   .text-sm {
      @apply text-[12px];
   }
   .text-5xl {
      @apply text-[36px];
   }
   .text-7xl {
      @apply text-[48px];
   }
   .text-9xl {
      @apply text-[66px];
   }
   .text-10xl {
      @apply text-[81px];
   }
}
@media screen and (max-width: 1024px) {
   .text-sm {
      @apply text-[10px];
   }
   .text-2xl {
      @apply text-[20px];
   }
   .text-4xl {
      @apply text-[26px];
   }
   .text-5xl {
      @apply text-[28px];
   }
   .text-7xl {
      @apply text-[40px];
   }
   .text-9xl {
      @apply text-[56px];
   }
   .text-10xl {
      @apply text-[70px];
   }
}
@media screen and (max-width: 768px) {
   .text-xl {
      @apply text-[17px];
   }
   .text-2xl {
      @apply text-[18px];
   }
   .text-4xl {
      @apply text-[22px];
   }
   .text-5xl {
      @apply text-[22px];
   }
   .text-7xl {
      @apply text-[30px];
   }
   .text-9xl {
      @apply text-[48px];
   }
   .text-10xl {
      @apply text-[60px];
   }
}
@media screen and (max-width: 600px) {
   .text-sm {
      @apply text-[8px];
   }
   .text-2xl {
      @apply text-[17px];
   }
   .text-3xl {
      @apply text-[17px];
   }
   .text-4xl {
      @apply text-[17px];
   }
   .text-5xl {
      @apply text-[20px];
   }
   .text-7xl {
      @apply text-[24px];
   }
   .text-9xl {
      @apply text-[46px];
   }
   .text-10xl {
      @apply text-[54px];
   }
   .text-12xl {
      @apply text-[80px];
   }
}

/* Animations */
.spinner {
   position: relative;
   width: 36px;
   height: 36px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.spinner:before,
.spinner:after {
   content: "";
   display: block;
   position: absolute;
   border-width: 1px;
   border-style: solid;
   border-radius: 50%;
}

.spinner.spinner-3:before {
   @apply border-primary-400;
   width: 36px;
   height: 36px;
   top: 0;
   left: 0;
   -webkit-animation: scale-2 1s linear 0s infinite;
   animation: scale-2 1s linear 0s infinite;
}
.spinner.spinner-3:after {
   @apply border-primary-400;
   width: 36px;
   height: 36px;
   top: 0;
   left: 0;
   opacity: 0;
   -webkit-animation: scale-2 1s linear 0.5s infinite;
   animation: scale-2 1s linear 0.5s infinite;
}

/* spinner-3 styles */
@-webkit-keyframes scale-2 {
   0% {
      transform: scale(0);
      opacity: 0;
   }
   50% {
      transform: scale(0.7);
      opacity: 1;
   }
   100% {
      transform: scale(1);
      opacity: 0;
   }
}
@keyframes scale-2 {
   0% {
      transform: scale(0);
      opacity: 0;
   }
   50% {
      transform: scale(0.7);
      opacity: 1;
   }
   100% {
      transform: scale(1);
      opacity: 0;
   }
}
